/*
    COLOR PALETTE

    Main Pink:    #F7B8D1  - Main website background
    Light Pink:   #FFF1F6  - Section backgrounds
    Card Pink:    #F8D5E3  - Skills and project cards
    Accent Pink:  #AC4779  - Buttons, links, and accents
    Dark Plum:    #512D40  - Headings and body text
    Soft White:   #FFF8FB  - Navigation bar and light cards
*/

body {
    margin: 0;
    background-color: #F7B8D1;
    color: #512D40;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #FFF8FB;
    display: flex;
    padding: 15px;
    border-radius: 50px;
    gap: 25px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #512D40;
}


/* Main */

/* intro section */

.intro {
    background-color: #F7B8D1;
    margin-bottom: 20px;
}

.intro h4 {
    color: #AC4779;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 15px;
}

.intro h1 {
    color: #512D40;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.intro p {
    color: #512D40;
    margin-top: 0px;
}

.intro-buttons {
    display: flex;
    gap: 15px;
}

.project-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #AC4779;
    color:#FFF8FB;
}

.about-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFF8FB;
    color:#AC4779;
}

/* Skills and tools */

.skills-tools {
    background-color: #FFF8FB;
    padding: 5px;
}

.skills-tools h1 {
    padding: 10px 20px;
    margin-bottom: 5px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.skill-cards {
    border-radius: 20px;
    padding: 10px;
    background-color: #fed8e6;
    box-sizing: border-box;
    flex: 1 1 calc(50% - 10px);
}

.skill-cards h2 {
    font-size: 18px;
}

.skill-cards p {
    font-size: 15px;
    color:#512D40;
}
