/*
    COLOR PALETTE

    Main Pink:    #F7B8D1  - Main website background
    Light Pink:   #FFF1F6  - Section backgrounds
    Card Pink:    #F8D5E3  - Skills and project cards
    Accent Pink:  #AC4779  - Buttons, links, and accents
    Dark Plum:    #512D40  - Headings and body text
    Soft White:   #FFF8FB  - Navigation bar and light cards
*/

body {
    margin: 0;
    background-color: #F5C2D3;
    color: #AC4779;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #FFF8FB;
    display: flex;
    padding: 15px;
    border-radius: 50px;
    gap: 25px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #512D40;
}

nav a.active {
    color: #AC4779;
    font-weight: bold;
}


/* Main */

/* intro section */

.intro {
    background-color: #F5C2D3;
    margin-bottom: 20px;
}

.intro h4 {
    color: #AC4779;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.intro h1 {
    color: #512D40;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.intro p {
    color: #512D40;
    margin-top: 0px;
}

.intro-buttons {
    display: flex;
    gap: 15px;
}

.project-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #AC4779;
    color:#FFF8FB;
}

.about-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFF8FB;
    color:#AC4779;
}

/* Skills and tools */

.skills-tools {
    background-color: #FFF8FB;
    padding: 5px;
}

.skills-tools h1 {
    padding: 10px 20px;
    margin-bottom: 5px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.skills-cat {
    position: absolute;
    width: 150px;

    top: -41px;
    right:50px;
}

.skill-cards {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    background-color: #fed8e6;
    box-sizing: border-box;
    flex: 1 1 calc(50% - 10px);
}

.skill-text h2 {
    font-size: 18px;
}

.skill-text p {
    font-size: 15px;
    color:#512D40;
}

.skill-cards img {
    width: 40px;
    height: 40px;
}

/* Footer */

footer {
    text-align: center;
    padding: 5px;
}

.contact-button {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #AC4779;
    color:#FFF8FB;
}

/*Contact page*/

.contact-main {
    text-align: center;
}

.contact-intro {
    margin-bottom: 40px;

}

.contact-intro h4 {
    color:#AC4779;
    font-size: 14px;
    margin-bottom: 0px;
}

.contact-intro h1{
    color:#512D40;
    margin: 0px;
    font-size: 40px;
}
.contact-container {
    background-color: #FFF8FA;
    border-radius: 30px;
    padding: 15px;

    max-width: 750px;
    margin: 0 auto;

    position: relative;
}

.contact-cat {
    position: absolute;
    width: 150px;

    top: -60px;
    right: 40px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #F5C2D3;
    border-radius: 20px;
    padding: 18px 25px;
    margin: 15px;
    text-align: left;
}

.contact-card img {
    width:40px;
    height: 40px;
}

.contact-text h2{
    font-size: 18px;
    color: #512D40;
    margin: 0;
}

.contact-text h3 {
    font-size: 15px;
    color: #AC4779;
    margin: 5px 0px;
    font-weight: normal;
}

.contact-text a {
    color: #AC4779;
    text-decoration: none;
    font-size: 15px;
}

.contact-text a:hover {
    text-decoration: underline;
}


/*Experience Page*/

.experience-intro {
    text-align: center;
    color: #512D40;
}

.education-container {
    background-color:#FFF8FA;
    border-radius: 30px;
    padding: 15px;

    max-width: 750px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.education-title {
    color: #AC4779;
    margin: 0 0 20px;
    text-align: left;
}

.education-content {
    display: flex;
    gap: 25px;
    align-items: stretch;
}

.coursework {
    background-color: #F5C2D3;
    border-radius: 30px;
}


/* Projects Page */

.projects {
    margin: 20px 0;
    text-align: center;
}